flows_Air.json
[{"id":"6678d8df.06d328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d16a5ae5.5d5198","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3418eb62.293804","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"21cf4f3b.21e0e","type":"ui_tab","z":"","name":"Masked Authenticated Messaging","icon":"dashboard","order":1},{"id":"c577df01.4f5c7","type":"ui_group","z":"","name":"MAM Publish","tab":"21cf4f3b.21e0e","order":2,"disp":true,"width":"10","collapse":false},{"id":"8fbd08ad.04c5f8","type":"ui_group","z":"","name":"MAM Fetch","tab":"21cf4f3b.21e0e","order":3,"disp":true,"width":"8","collapse":false},{"id":"20b07987.5c34d6","type":"ui_group","z":"","name":"General Setup","tab":"21cf4f3b.21e0e","order":1,"disp":true,"width":"8","collapse":false},{"id":"1c655662.7ff87a","type":"mamPublish","z":"6678d8df.06d328","iotaNode":"https://nodes.devnet.iota.org:443","x":650,"y":140,"wires":[["83ef9a97.20b2d8","5874754b.fd8b5c"]]},{"id":"84cfea56.1ddb48","type":"sensorTag","z":"6678d8df.06d328","name":"sensorTag","devices":["d53d6fb9ed5f42d7abfdcb04564e05dc"],"temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"magnetometerPeriod":1000,"accelerometer":true,"accelerometerPeriod":1000,"gyroscope":true,"gyroscopePeriod":1000,"luxometer":true,"luxometerPeriod":1000,"keys":true,"x":80,"y":260,"wires":[["ade02dac.42405","1c655662.7ff87a"]]},{"id":"58b6114e.d884c","type":"ui_switch","z":"6678d8df.06d328","name":"","label":"batch mode","group":"c577df01.4f5c7","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":340,"wires":[[]]},{"id":"bab766c5.166238","type":"ui_dropdown","z":"6678d8df.06d328","name":"","label":"IOTA node","place":"Select your IOTA node","group":"20b07987.5c34d6","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"https://node.deviceproof.org:443/","value":"https://node.deviceproof.org:443/","type":"str"},{"label":"https://trinity.iota.fm:443/","value":"https://trinity.iota.fm:443/","type":"str"}],"payload":"","topic":"","x":410,"y":100,"wires":[["1c655662.7ff87a"]]},{"id":"4dcfc751.774158","type":"ui_chart","z":"6678d8df.06d328","name":"","group":"c577df01.4f5c7","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":670,"y":380,"wires":[[],[]]},{"id":"d9bd0b9b.eed5e8","type":"ui_dropdown","z":"6678d8df.06d328","name":"","label":"Select sensor device","place":"","group":"20b07987.5c34d6","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"Ti SensorTag","value":"Ti SensorTag","type":"str"},{"label":"XDK","value":"XDK","type":"str"},{"label":"Nordic","value":"Nordic","type":"str"}],"payload":"","topic":"","x":120,"y":40,"wires":[["c8de70e.5e0689"]]},{"id":"c8de70e.5e0689","type":"switch","z":"6678d8df.06d328","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Ti SensorTag","vt":"str"},{"t":"eq","v":"XDK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":40,"wires":[["ca590ce3.1d624"],["96b57864.684ea8"]]},{"id":"96b57864.684ea8","type":"debug","z":"6678d8df.06d328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":60,"wires":[]},{"id":"ca590ce3.1d624","type":"debug","z":"6678d8df.06d328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":20,"wires":[]},{"id":"ade02dac.42405","type":"ui_text","z":"6678d8df.06d328","group":"20b07987.5c34d6","order":0,"width":0,"height":0,"name":"","label":"Incoming sensor data","format":"{{msg.payload}}","layout":"row-spread","x":300,"y":340,"wires":[]},{"id":"83ef9a97.20b2d8","type":"ui_template","z":"6678d8df.06d328","group":"8fbd08ad.04c5f8","name":"","order":0,"width":0,"height":0,"format":"<p ng-repeat=\"x in msg.payload\">{{x.value}}</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":820,"y":140,"wires":[[]]},{"id":"5874754b.fd8b5c","type":"debug","z":"6678d8df.06d328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":200,"wires":[]},{"id":"d6c02f68.41a46","type":"mamFetch","z":"6678d8df.06d328","iotaNode":"https://nodes.devnet.iota.org:443/","root":"TZXPUGEGVFRQINJLIJLBMTUDVMRJSNNOPULCLDPALBKJZBLG9WGGPMVIYOGEWJNUKUPUE9JWJIIBBRHWD","x":200,"y":420,"wires":[["bd1d3e88.d9eb9"]]},{"id":"bd1d3e88.d9eb9","type":"debug","z":"6678d8df.06d328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":460,"wires":[]}]