flows_Air.json
[{"id":"91d31218.fc0ed","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4f8376cd.57fb28","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":160,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ffa8e13e.d3a4a","type":"ui_tab","z":"","name":"Masked Authenticated Messaging","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6504dad0.4e7334","type":"ui_group","z":"","name":"General Setup","tab":"ffa8e13e.d3a4a","order":1,"disp":true,"width":"8","collapse":false},{"id":"f88cf0cd.e3bdf","type":"ui_spacer","name":"spacer","group":"89901bfb.61e9a8","order":3,"width":1,"height":1},{"id":"1dd0e517.8a2aeb","type":"Cache","z":"","name":"test","defaultTtl":"1","checkPeriod":"1"},{"id":"44e74c8.4d2e9b4","type":"Cache","z":"","name":"test2","defaultTtl":"1","checkPeriod":"1"},{"id":"ebe579ac.8fc838","type":"Cache","z":"","name":"abcd","defaultTtl":"10","checkPeriod":"30"},{"id":"4de90ccb.030554","type":"sensorTag","z":"91d31218.fc0ed","name":"sensorTag","devices":["d53d6fb9ed5f42d7abfdcb04564e05dc"],"temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"magnetometerPeriod":1000,"accelerometer":true,"accelerometerPeriod":1000,"gyroscope":true,"gyroscopePeriod":1000,"luxometer":true,"luxometerPeriod":1000,"keys":true,"x":80,"y":160,"wires":[["28d9771c.b0f2d8","2b678c7.04ab474"]]},{"id":"4a886280.292c3c","type":"ui_dropdown","z":"91d31218.fc0ed","name":"","label":"IOTA node","tooltip":"","place":"https://nodes.devnet.thetangle.org:443","group":"6504dad0.4e7334","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"https://nodes.devnet.thetangle.org:443","value":"https://nodes.devnet.thetangle.org:443","type":"str"},{"label":"https://trinity.iota.fm:443/","value":"https://trinity.iota.fm:443/","type":"str"}],"payload":"","topic":"","x":830,"y":20,"wires":[[]]},{"id":"92ebf9c1.e36de8","type":"ui_chart","z":"91d31218.fc0ed","name":"","group":"6504dad0.4e7334","order":7,"width":"4","height":"4","label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":320,"wires":[[]]},{"id":"2b678c7.04ab474","type":"ui_text","z":"91d31218.fc0ed","group":"6504dad0.4e7334","order":2,"width":0,"height":0,"name":"","label":"Incoming sensor data","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":160,"wires":[]},{"id":"39b8f236.0d045e","type":"debug","z":"91d31218.fc0ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":100,"wires":[]},{"id":"a1bbf173.bbd94","type":"mamFetch","z":"91d31218.fc0ed","iotaNode":"https://nodes.devnet.iota.org:443/","root":"OPXFHFGWWHRTSDYBJHZNNATUVAFJUBCNV9ZJXWDPGCAQFTZFDIKCXDZQYHKYHRILZ9QAOR9GHTTATXJSH","mode":"public","secret":"VERYSECRET","limit":"1000","x":450,"y":380,"wires":[["660e9f6d.693df","30a5856e.57437a","278b454a.ce7c9a","626bf536.87ae4c"]],"info":"config.root = msg.payload"},{"id":"660e9f6d.693df","type":"function","z":"91d31218.fc0ed","name":"temperature","func":"if (msg.data.temperature) {\n    return {topic: 'temperature', \n     payload: msg.data.temperature,\n     timestamp: msg.time};\n}\nelse return null;\n","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["92ebf9c1.e36de8"]]},{"id":"30a5856e.57437a","type":"function","z":"91d31218.fc0ed","name":"lux","func":"if (msg.data.lux) {\n    return {topic: 'lux', \n     payload: msg.data.lux,\n     timestamp: msg.time};\n}\nelse return null;\n","outputs":1,"noerr":0,"x":690,"y":380,"wires":[["42f55ddf.754384"]]},{"id":"42f55ddf.754384","type":"ui_chart","z":"91d31218.fc0ed","name":"","group":"6504dad0.4e7334","order":8,"width":"4","height":"4","label":"lux","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":380,"wires":[[]]},{"id":"278b454a.ce7c9a","type":"function","z":"91d31218.fc0ed","name":"humidity","func":"if (msg.data.humidity) {\n    return {topic: 'humidity', \n     payload: msg.data.humidity,\n     timestamp: msg.time};\n}\nelse return null;\n","outputs":1,"noerr":0,"x":680,"y":440,"wires":[["3c294703.723218"]]},{"id":"626bf536.87ae4c","type":"function","z":"91d31218.fc0ed","name":"pressure","func":"if (msg.data.pressure) {\n    return {topic: 'pressure', \n     payload: msg.data.pressure,\n     timestamp: msg.time};\n}\nelse return null;\n","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["c8dcd32d.73bf9"]]},{"id":"3c294703.723218","type":"ui_chart","z":"91d31218.fc0ed","name":"","group":"6504dad0.4e7334","order":9,"width":"4","height":"4","label":"humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":440,"wires":[[]]},{"id":"c8dcd32d.73bf9","type":"ui_chart","z":"91d31218.fc0ed","name":"","group":"6504dad0.4e7334","order":10,"width":"4","height":"4","label":"pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":500,"wires":[[]]},{"id":"d8a1e8e7.f37de8","type":"mamPublish","z":"91d31218.fc0ed","iotaNode":"https://nodes.devnet.thetangle.org:443","mode":"public","secretKey":null,"x":540,"y":100,"wires":[["39b8f236.0d045e","3864e083.940ee"]]},{"id":"28d9771c.b0f2d8","type":"gate","z":"91d31218.fc0ed","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":330,"y":100,"wires":[["d8a1e8e7.f37de8"]]},{"id":"95cc7d89.5b55b","type":"ui_switch","z":"91d31218.fc0ed","name":"","label":"Publish data","tooltip":"","group":"6504dad0.4e7334","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"control","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","x":170,"y":100,"wires":[["28d9771c.b0f2d8"]]},{"id":"29bc3800.772258","type":"ui_text_input","z":"91d31218.fc0ed","name":"","label":"Fetch root","tooltip":"","group":"6504dad0.4e7334","order":6,"width":"8","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":210,"y":320,"wires":[["a1bbf173.bbd94"]]},{"id":"3864e083.940ee","type":"ui_text","z":"91d31218.fc0ed","group":"6504dad0.4e7334","order":5,"width":0,"height":0,"name":"","label":"last published root","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":140,"wires":[]}]